.form-signin{
    width: 300px;
    margin: 100px auto;
}

.book-info{
    margin:5px 0;
    display:block;
    /* width: 300px; */
}

.book-info-label{
    display: inline-block;
    width: 120px;
}

.book-info span{
    /* display: inline; */
    word-wrap: break-word;
}

.book-info-card{
    display: flex;
    /* max-width: 700px; */
}

.book-img{
    height: 200px;
    margin-right:20px;
}

.card{
}

.container{
    padding:20px;
    max-width: 900px;
    margin: 10px auto;
}

.deskripsi{
    display: inline-block;
    /* width: 100%; */
}

.info-deskripsi{
    width: 100%;
}

.book-metadata-sans-deskripsi{
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.page-heading{
    display: flex;
    margin:20px 0;
    justify-content: space-between;
    align-items: center;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    text-decoration: none;
    color: white;
}

.tambah-pembacaan{
    max-height:200px;
}