{% extends "base.html" %}
{%block content %}
    {% include "navbar.html" %}
        <div class="container">
            <div class="page-heading">
                <h1>Buku</h1>
                <button class="btn btn-primary"><a href="/tambah_buku">Tambah Buku</a></button>
            </div>
            {% for book in books %}
                <div class="card">
                    <div class="card-body book-info-card">
                        <img class="book-img " src="{{ url_for('static', filename='boneshaker.jpg') }}" alt="Card image cap">
                        <div>
                            <div class="book-metadata-sans-deskripsi">
                                <div class="book-info">
                                    <span class="book-info-label"><b>Judul</b></span> <span>{{book.title}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Pengarang</b></span> <span>{{book.author}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Jumlah halaman</b></span> <span>{{book.pages}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Mulai Membaca</b></span> <span>{{book.start_reading}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Status</b></span> <span>{{book.status}}</span>
                                </div>
                            </div>
                            <div>
                                <div class="book-info info-deskripsi">
                                    <span class="book-info-label"><b>Deskripsi</b></span> <span class="deskripsi text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est qui veritatis quod asperiores veniam, mollitia rerum aut tempore maiores quidem maxime quisquam repudiandae delectus suscipit! Et necessitatibus nulla totam?</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-success">Edit Info Buku</button>
                                <button class="btn btn-info">Lihat catatan pembacaan</button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}                 
        </div>
    </div>

{%endblock content%}

