{% extends "base.html" %}
{%block content %}
    {% include "navbar.html" %}
        <div class="container">
            <div class="page-heading">
                <h1>Buku</h1>
                <button class="btn btn-primary"><a href="/buku/tambah">Tambah Buku</a></button>
            </div>
            {% for book in books %}
                <div class="card">
                    <div class="card-body book-info-card">
                        <img class="book-img " src="{{ url_for('uploaded_file', filename=book.cover)}}" alt="Card image cap">
                        <div style="width: 100%;">
                            <div class="book-metadata-sans-deskripsi">
                                <div class="book-info">
                                    <span class="book-info-label"><b>Judul</b></span> <span>{{book.judul}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Pengarang</b></span> <span>{{book.pengarang}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Jumlah halaman</b></span> <span>{{book.jumlahHalaman}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Mulai Baca</b></span> <span>{{book.mulaiBaca}}</span>
                                </div>
                                <div class="book-info">
                                    <span class="book-info-label"><b>Status</b></span> <span>{{book.status}}</span>
                                </div>
                            </div>
                            <div class="info-deskripsi">
                                <div class="book-info">
                                    <span class="book-info-label"><b>Deskripsi</b></span> <span class="deskripsi text-left">{{book.deskripsi}}</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-success"><a href="/buku/edit/{{book._id}}">Edit info buku</a></button>
                                <button class="btn btn-info"><a href="/buku/{{book._id}}/pembacaan">Lihat catatan pembacaan</a></button>
                                <button class="btn btn-danger"><a href="/buku/hapus/{{book._id}}">Hapus buku</a></button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}                 
        </div>
    </div>

{%endblock content%}

