{% extends "base.html" %}
{%block content %}
  <form class="text-center form-signin" id="form-register" method="POST" class="form-signin">
    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1>ReadingTracker</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
        {% endfor %}
    {%endif%}
  {% endwith %}
  <div style="display: none;" id="alert-confirm-password" class="alert alert-danger" role="alert">
    Konfirmasi password salah
  </div>
  <div class="form-group">
    <input required type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input required type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input required type="password" name="confirm-password" id="confirm-password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Konfirmasi Password">
  </div>
  <button class="btn btn-lg btn-primary btn-block" id="register" type="submit">Register</button>
  <div style="margin: 10px;">
    <a href="{{ url_for('login') }}">Login</a>
  </div>
</form>
<script>
  console.log("halo")
  document.body.onload = ()=>{
    console.log("halo")
    document.getElementById('form-register').addEventListener('submit',(event)=>{
      event.preventDefault();
      var password=document.getElementById('password').value
      var confirmPassword=document.getElementById('confirm-password').value
      if (password == confirmPassword){
        document.getElementById('form-register').submit()
      }else{
        document.getElementById('alert-confirm-password').style.display="block";
      }
    })

  }
  document.body.addEventListener('load',()=>{
    console.log("halo")
    document.getElementById('form-register').addEventListener('onsubmit',(event)=>{
      event.preventDefault();
      var password=document.getElementById('password').value
      var confirmPassword=document.getElementById('confirmPassword').value

      if (password == confirmPassword){
        console.log("yes")
      }
    })
  })
</script>
{%endblock content%}
